.root {
  height: 30vh;
  color: white;
  font-family: Helvetica;
  .Container {
    background-color: black;
    font-style: italic;
    border: 5px solid;
    position: absolute;
    padding: 10px;
  }
}
