.data{
    /* display: flex; */
    /* flex-direction: column; */
    margin: auto;
    margin-top: 50px;
    width: 900px;
    overflow: auto;
    background: #fff;
    padding-bottom: 30px;
    /* display: flex; */
    border-radius: 12px;
    padding: 6px;
    /* margin-bottom: ; */
    /* align-items: center; */
}
.button{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 120px;
    gap: 10px;
    height: 59px;
    color: #fff;
    background: #000000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.file_name{
    color: #000000;
    overflow: auto;
    margin-right: 20px;
    font-size: 34px;
    font-weight: 700;
    margin-left: 20px;
}
.heading{
    color: #3c009d;
    font-size: 36px;
    font-weight: 700;
}
.underline{
    width: 101px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
    gap: 25px;
    margin-left: 70px;
    margin-top: 5px;
  }